html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  font-family: "Consolas", "Microsoft YaHei";
  user-select: none;
  max-width: 450px;
}
body > * {
  max-width: 450px;
}
.title {
  padding: 1rem 5%;
  background: steelblue;
  color: #ffffff;
  margin-bottom: 2rem;
  box-shadow: 0 0.2rem 0.3rem #303030;
}
.title h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.hidden {
  display: none;
}
.container {
  padding-left: 5%;
}
.container .row > span {
  display: inline-block;
  width: 10%;
  height: 24px;
  line-height: 24px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  background: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
.container .row > span.empty {
  color: #ffffff;
}
.container .row > span.fixed {
  background: #f0f0f0;
}
.container .row > span.col_g_right {
  border-right: 1px solid #cccccc;
}
.container .row > span:first-child {
  border-left: 2px solid #cccccc;
}
.container .row > span:last-child {
  border-right: 2px solid #cccccc;
}
.container .row > span.mark1 {
  background: lightblue;
}
.container .row > span.mark1.empty {
  color: lightblue;
}
.container .row > span.mark2 {
  background: lightgreen;
}
.container .row > span.mark2.empty {
  color: lightgreen;
}
.container .row > span.error {
  background: lightpink;
}
.container .row > span.error.empty {
  color: lightpink;
}
.container .row.row_g_bottom > span {
  border-bottom: 1px solid #cccccc;
}
.container .row:first-child > span {
  border-top: 2px solid #cccccc;
}
.container .row:last-child > span {
  border-bottom: 2px solid #cccccc;
}
.popup-num {
  padding-left: 5%;
  position: absolute;
  padding-left: 0;
}
.popup-num .row > span {
  display: inline-block;
  width: 10%;
  height: 24px;
  line-height: 24px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  background: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
.popup-num .row > span.empty {
  color: #ffffff;
}
.popup-num .row > span.fixed {
  background: #f0f0f0;
}
.popup-num .row > span.col_g_right {
  border-right: 1px solid #cccccc;
}
.popup-num .row > span:first-child {
  border-left: 2px solid #cccccc;
}
.popup-num .row > span:last-child {
  border-right: 2px solid #cccccc;
}
.popup-num .row > span.mark1 {
  background: lightblue;
}
.popup-num .row > span.mark1.empty {
  color: lightblue;
}
.popup-num .row > span.mark2 {
  background: lightgreen;
}
.popup-num .row > span.mark2.empty {
  color: lightgreen;
}
.popup-num .row > span.error {
  background: lightpink;
}
.popup-num .row > span.error.empty {
  color: lightpink;
}
.popup-num .row.row_g_bottom > span {
  border-bottom: 1px solid #cccccc;
}
.popup-num .row:first-child > span {
  border-top: 2px solid #cccccc;
}
.popup-num .row:last-child > span {
  border-bottom: 2px solid #cccccc;
}
.popup-num .row {
  font-size: 0;
}
.popup-num .row > span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 1rem 0;
  box-sizing: border-box;
  box-shadow: 0 -0.1rem 0.2rem #303030;
  background: steelblue;
}
.dashboard .buttons {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.dashboard .buttons button {
  flex: 1;
  font-size: 1.3rem;
  font-family: "Microsoft YaHei";
  color: #ffffff;
  border-width: 0;
  border-right: 1px solid #cccccc;
  background: steelblue;
}
.dashboard .buttons button:last-child {
  border-right: 0;
}
